<div class="row">
  <div class="span8">
    <ul class="nav nav-tabs pjax_enabled">
      <li <%= set_active("reservation") %>>
        <%= link_to "Find Reservations", search_reservation_path %>
      </li>
      <li <%= set_active("customer") %>>
        <%= link_to "Find Customers", search_customer_path %>
      </li>
      <li <%= set_active("event") %>><%= link_to "Find Events", search_event_path %></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
          Other
          <b class='caret'></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Confirmed", "#" %></li>
          <li><%= link_to "Unconfirmed", "#" %></li>
        </ul>
      </li>
  </div>
</div>
