<div class="row">
  <div class="span5">
    <ul class="nav nav-pills">
      <li class="active"><%= link_to "Today", "#" %></li>
      <li><%= link_to "Tomorrow", "#" %></li>
      <li><%= link_to "All", "#" %></li>
    </ul>
  </div>
  <div class="span3 pull-right">
    <%= select_tag "venue", "<option>Normal Dining</option><option>Valentine's Day</option><option>White Day</option>".html_safe, :class => 'span3', :disabled => true %>
  </div>
</div>


<%= render "reservation_table" %>
