<!DOCTYPE html>
<html>
<head>
  <title>Triclini</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div class="container first">
    <% if @club %>
      <%= render 'layouts/control_panel_top' %>
    <% end %>
    <div class="container">
      <div class="row-fluid">
        <div data-pjax-container class="">
          <!--Body content-->
          <%= yield %>
        </div>
      </div>
    </div>
    <div style="position:absolute; bottom: 0px;">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>

</body>
</html>
